<!DOCTYPE html>
<html ng-app="App" ng-controller="FontListController" class="panel-{{panelSide}}" ng-class="{'panel-hidden': panelClosed}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Font Lineup</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body ng-cloak ng-class="{dark: theme == 'dark'}">
    <header ng-click="panelClosed = false">
      <div class="flex-gutter full-height">
        <div class="side-panel">

          <table class="move-buttons">
            <tr>
              <td rowspan="3" class="left-button" ng-click="panelSide = 'left'"></td>
              <td class="up-button" ng-click="panelSide = 'top'"></td>
              <td rowspan="3" class="right-button" ng-click="panelSide = 'right'"></td>
            </tr>
            <tr>
              <td class="close-button" ng-click="panelClosed = true" no-click-bubble></td>
            </tr>
            <tr>
              <td class="down-button" ng-click="panelSide = 'bottom'"></td>
            </tr>
          </table>

          <div class="theme-button clickable inline-block" ng-click="theme = theme == 'dark' ? 'light' : 'dark'" title="{{theme|capitalize}} Theme">
            <img width="20" height="20" class="centered icon" ng-src="icons/{{theme}}-theme.svg">
          </div>
        </div>
        <fieldset>
          <h1>Font Lineup</h1>
        </fieldset>
        <fieldset class="font-list-field flex-shrink flex-grow">
          <div>
            <span class="inline-block">
              <div class="hidden spinner" ng-class="{visible: searchLoading}">
                <span class="rect1"></span>
                <span class="rect2"></span>
                <span class="rect3"></span>
              </div>
            </span>
            <input type="search"
                   placeholder="Filter..."
                   ng-model="search"
                   ng-keydown="searchLoading = true"
                   ng-model-options="{debounce: 500}">
            <span class="clickable text-in-list"
              title="Display sample text in font list"
              ng-class="{active: textInList}"
              ng-click="textInList = !textInList">T</span>
          </div>
          <div class="font-list" ng-class="{'exact-center': !fonts}">
            <div class="spinner large-spinner" ng-if="!fonts">
              <span class="rect1"></span>
              <span class="rect2"></span>
              <span class="rect3"></span>
            </div>
            <div class="clickable font-list-item"
                 ng-repeat="font in fonts | filter:fontListFilter"
                 ng-class="{loading: font.loading, loaded: font.loaded, error: font.error}"
                 on-scroll-enter="queueWebFont(font)"
                 scroll-padding="50"
                 ng-click="addFont(font)">
              <div class="font-tag unstarred-font"
                   ng-if="!font.starred"
                   ng-click="addStarredFont(font)"
                   no-click-bubble
                   title="Click to save to your collection.">
                <img width="14" height="14" src="icons/star-gray.svg" alt="Star">
              </div>
             <div class="font-tag starred-font"
                  ng-if="font.starred"
                  ng-click="removeStarredFont(font)"
                  no-click-bubble
                  title="Saved to your collection.">
                <img width="14" height="14" src="icons/star.svg" alt="Star">
              </div>
              <a href="https://www.google.com/fonts#UsePlace:use/Collection:{{font.family.name}}"
                 target="_blank"
                 class="font-tag google-font"
                 title="Google Fonts API (click to view)"
                 ng-if="isGoogleFont(font)">
                <img width="13" height="13" src="icons/google.svg" alt="Google Fonts">
              </a>
              <div class="font-tag installed-font" ng-if="font.installed" title="Installed on your system.">
                <img width="14" height="14" src="icons/installed.svg" alt="Installed">
              </div>
              <div class="font-tag windows-font" ng-if="font.available_windows" title="{{font.notes_windows}}">
                <img width="14" height="14" src="icons/windows.svg" alt="Windows">
              </div>
              <div class="font-tag mac-font" ng-if="font.available_mac" title="{{font.notes_mac}}">
                <img width="16" height="14" src="icons/mac.svg" alt="Mac">
              </div>
              <div class="font-tag font-error" ng-if="font.error" title="Font Failed to Load">E</div>
              <div class="font-loading-bar"></div>

              <h6 class="font-name" ng-style="getStyleForFont(font)">
                <span ng-if="textInList">{{text}}</span>
                <span ng-if="!textInList">{{font.name}}</span>
              </h6>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <span class="clickable inline-block platform-filter"
                title="Starred fonts."
                ng-class="{active: starred}"
                ng-click="setTab('starred')">Starred</span>
          <span class="clickable inline-block platform-filter"
                title="Fonts installed on your system."
                ng-class="{active: installed}"
                ng-click="setTab('installed')" ng-show="canDetectInstalled()">Installed</span>
          <span class="clickable inline-block platform-filter"
                title="Cannot detect fonts installed on your system (requires Flash)."
                ng-show="!canDetectInstalled()">Installed</span>
          <span class="clickable inline-block platform-filter"
                title="Fonts available on Windows (hover over icon to see install base if available)."
                ng-class="{active: windows}"
                ng-click="setTab('windows')">Windows</span>
          <span class="clickable inline-block platform-filter"
                title="Fonts available on Mac (hover over icon to see install base if available)."
                ng-class="{active: mac}"
                ng-click="setTab('mac')">Mac</span>
          <span class="clickable inline-block platform-filter"
                title="Fonts available through the Google Fonts API"
                ng-class="{active: google}"
                ng-click="setTab('google')">Google</span>
          <span class="clickable inline-block platform-filter"
                title="&quot;Web safe&quot; fonts. For the purposes of this tool, this term is a proxy for fonts that have an install base of over {{safeThreshold}}% on both Mac and Windows. However the only truly safe fonts are those like serif, sans-serif, etc. Fallbacks should always be used."
                ng-class="{active: safe}"
                ng-click="setTab('safe')">Safe</span>
        </fieldset>
        <fieldset class="font-size">
          Font Size: {{getSize()}}
        </fieldset>
      </div>
    </header>
    <article class="content flex-gutter" text-fit-container>
      <div class="selected-font exact-center flex-grow" ng-repeat="font in selected | getFont track by $index">
        <textarea class="selected-font-text-input"
            ng-model="$parent.text"
            ng-show="editing"
            dblclick-editing
            spellcheck="false"
            placeholder="Sample Text"></textarea>
          <div class="selected-font-remove clickable" ng-click="removeFont($index)">&times;</div>
          <div class="selected-font-name">
            <a target="_blank"
               class="hover-link"
               ng-href="https://www.google.com/fonts#QuickUsePlace:quickUse/Family:{{font.family.name}}"
               ng-if="isGoogleFont(font)">{{font.name}}</a>
            <span ng-if="!isGoogleFont(font)">{{font.name}}</span>
          </div>
          <div class="selected-font-text" ng-style="getStyleForFont(font)" ng-show="!editing" text-fit="text|nlbr"></div>
      </div>
    </article>
    <div id="font-detect-swf"></div>
    <script src="detect/swfobject.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!--<script src="webfont.js"></script>-->
    <!--<script src="/Resources/angular/1.3.15/angular.js"></script>-->
    <script src="main.js"></script>
  </body>
</html>
