<!DOCTYPE html>
<html ng-app="App" ng-controller="FontListController" class="{{side}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Font Lineup</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body ng-cloak ng-class="{dark: theme == 'dark'}" class="flex-layout">
    <header class="flex-gutter">
      <div class="side-buttons">
        <div class="up"    ng-click="side = 'top'"></div>
        <div class="right" ng-click="side = 'right'"></div>
        <div class="down"  ng-click="side = 'bottom'"></div>
        <div class="left"  ng-click="side = 'left'"></div>
      </div>
      <h1>Font Lineup</h1>
      <fieldset>
        <textarea id="text" class="text" ng-model="text" placeholder="text"></textarea>
      </fieldset>
      <fieldset>
        <span class="inline-block hidden spinner" ng-class="{visible: searchLoading}">
          <span class="rect1"></span>
          <span class="rect2"></span>
          <span class="rect3"></span>
        </span>
        <input type="inline-block search"
               placeholder="Filter..."
               ng-model="search"
               ng-keydown="searchLoading = true"
               ng-model-options="{debounce: 500}">
      </fieldset>
      <fieldset class="font-list flex-shrink flex-grow">
        <div class="clickable font-list-item"
             ng-repeat="font in fonts | filter:fontListFilter"
             ng-class="{loading: font.loading, loaded: font.loaded, error: font.error}"
             on-scroll-enter="queueWebFont(font)"
             ng-click="addFont(font)">
          <h6 class="font-name" ng-style="getStyleForFont(font)">
            <span ng-if="textInList">{{text}}</span>
            <span ng-if="!textInList">{{font.name}}</span>
          </h6>
          <div class="font-tag" ng-if="isGoogleFont(font)" title="Google Fonts API">G</div>
          <div class="font-tag font-error" ng-if="font.error" title="Font Failed to Load">E</div>
          <div class="font-loading-bar"></div>
        </div>
      </fieldset>
      <fieldset>
        <div class="inline-block">
          <div>
            <button ng-click="textInList = true" ng-show="!textInList">
              Show Text in List
            </button>
            <button ng-click="textInList = false" ng-show="textInList">
              Hide Text in List
            </button>
          </div>
          <div>
            <button ng-click="removeAllFonts()">
              Remove All
            </button>
          </div>
        </div>
        <div class="clickable inline-block" ng-click="theme = theme == 'dark' ? 'light' : 'dark'">
          <img class="centered icon" ng-src="icons/{{theme}}-theme.svg">
          <label>{{theme|capitalize}} Theme</label>
        </div>
      </fieldset>
    </header>
    <ul class="selected-list flex-gutter" text-fit-container>
      <li class="selected-font flex-grow" ng-repeat="font in selected | getFont track by $index">
          <div class="selected-font-remove clickable" ng-click="removeFont($index)">&times;</div>
          <div class="selected-font-name">{{font.name}}</div>
          <div class="selected-font-text" ng-style="getStyleForFont(font)" text-fit="text|nlbr"></div>
      </li>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script src="/Resources/angular/1.3.15/angular.js"></script>
    <script src="main.js"></script>
  </body>
</html>
